/* src/Components/Header.css */

.App-header {
  background-color: #ff6600; /* Orange background color */
  min-height: 10vh; /* Adjust height as needed */
  display: flex;
  align-items: center; /* Corrected property name to align-items */
  justify-content: center;
  font-size: 24px;
  color: black; /* Black text color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px; /* Adjust padding as needed */
}

.logo-container {
  display: flex;
  align-items: center;
}

.App-logo {
  height: 40px; /* Adjust logo height */
  margin-right: 10px; /* Add spacing between logo and title */
}

.App-title {
  font-size: 1.5rem; /* Adjust title font size */
  margin: 0;
}

.App-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.App-nav li {
  margin-right: 20px; /* Adjust spacing between nav items */
}

.App-nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.App-nav a:hover {
  color: #61dafb; /* Change color on hover */
}
